<ul>
  <li><%= link_to '正常', root_path %></li>
  <li><%= link_to '拡張子無し', no_ext_path %></li>
  <li><%= link_to '拡張子がjpeg', use_jpeg_path %></li>
  <li><%= link_to '"/assets"で始まる背景', start_with_assets_path %></li>
</ul>
